@model asplb9._2.Models.Weather

<div class="weather-widget">
    <h3>Current Weather in @Model.City</h3>
    <p>Temperature: @Model.Temperature °C</p>
    <p>Conditions: @Model.Description</p>
    <p>Humidity: @Model.Humidity %</p>
    <p>Wind Speed: @Model.WindSpeed m/s</p>
</div>
